@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");
.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.top-banner {
  background-color: #4fb3d4;
}
.top-banner .banner-text {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 15px 30px;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav a .company-logo {
  width: 200px;
}
.main-nav .nav-links {
  padding: 20px 30px;
}
.main-nav .nav-links .ul {
  display: flex;
  gap: 50px;
  justify-content: end;
}
.main-nav .nav-links .ul .li {
  list-style: none;
}
.main-nav .nav-links .ul .li .hover-links {
  text-decoration: none;
}
.main-nav .nav-links .ul .li .primary-button {
  padding: 15px 30px;
  background-color: #2294ed;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
.main-nav .nav-links .ul .li .primary-button:hover {
  background-color: #1d69a3;
}
.main-nav .nav-links .ul .li .secondary-button {
  border: 2px solid;
  border-radius: 4px;
  padding: 15px 30px;
  color: #1d69a3;
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  border-color: #b9cde4;
}
.main-nav .nav-links .ul .li .secondary-button:hover {
  border-color: #2294ed;
}

.header-section {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.header-section .header-left h1 {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 25px;
}
.header-section .header-left .p {
  color: #577592;
  font-size: 20px;
  padding-bottom: 60px;
  line-height: 30px;
}
.header-section .header-left .primary-button {
  padding: 15px 30px;
  background-color: #2294ed;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.header-section .header-left .primary-button:hover {
  background-color: #1d69a3;
}
.header-section .header-right .header-img {
  width: 600px;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.brands {
  margin: 30px 0 70px 0;
  text-align: center;
}
.brands .h1 {
  font-size: 20px;
}
.brands .brands_img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.brands .brands_img .brands_logo {
  height: 46px;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.services {
  padding: 40px 0px;
  margin: 40px 0;
  background-image: url(/5af98b9f779b5a7d0a80351e_Oval\ 1.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip: border-box;
}
.services .services__up {
  text-align: center;
}
.services .services__up .h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.services .services__up .secondary-button-up {
  border: 2px solid;
  border-radius: 4px;
  padding: 15px 30px;
  color: #1d69a3;
  font-weight: 600;
  width: 300px;
  background-color: transparent;
  border-color: #b9cde4;
}
.services .services__up .secondary-button-up:hover {
  border-color: #2294ed;
}
.services .services__down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.services .services__down .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .services__down .cards .img__card {
  width: 50px;
}
.services .services__down .cards .h3 {
  font-size: 25px;
  padding-top: 10px;
  letter-spacing: -0.5px;
  font-weight: 500;
}
.services .services__down .cards .p {
  color: #577592;
  line-height: 25px;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 11px;
  font-weight: 400;
}
.services .services__down .cards .secondary-button {
  border: 2px solid #577592;
  border-radius: 4px;
  padding: 12px 24px;
  color: #2294ed;
  border-color: #2294ed;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-top: 10px;
}
.services .services__down .cards .secondary-button:hover {
  border-color: #2294ed;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.features {
  display: flex;
  padding-top: 10px;
  margin-bottom: 30px;
  margin-right: auto;
  justify-content: center;
  margin-left: auto;
  padding-bottom: 0;
}
.features .features__right .img {
  width: 500px;
  padding-right: 40px;
}
.features .features__left {
  padding-left: 50px;
  padding-right: 50px;
}
.features .features__left .h3 {
  color: #183b56;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  padding-bottom: 10px;
}
.features .features__left .h1 {
  color: #183b56;
  text-align: left;
  letter-spacing: -0.5px;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 15px;
}
.features .features__left .p {
  color: #577592;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;
}
.features .features__left .logo_img {
  width: 100px;
  padding-bottom: 20px;
}
.features .features__left .para {
  line-height: 1.5;
  font-weight: 600;
}
.features .features__left .div {
  margin-top: 25px;
}
.features .features__left .div .person_img {
  width: 50px;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.testing {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.testing .h1 {
  font-size: 2rem;
  padding-top: 40px;
}
.testing .h3 {
  font-size: 20px;
  color: #577592;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 40px;
}
.testing .primary-button {
  padding: 15px 30px;
  background-color: #2294ed;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.testing .primary-button:hover {
  background-color: #1d69a3;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.footer_main {
  background-color: #ebf2fa;
}
.footer_main .footer {
  padding: 80px 20px;
  display: flex;
  justify-content: space-between;
}
.footer_main .footer .company-logo {
  width: 200px;
}
.footer_main .footer .link_column {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.footer_main .footer .link_column p {
  font-size: 20px;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
  font-weight: 600;
}
.footer_main .footer .link_column .ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_main .footer .link_column .ul .li {
  list-style: none;
}
.footer_main .footer .link_column .ul .li .a {
  text-decoration: none;
  transition: all 0.3s;
}
.footer_main .footer .link_column .ul .li .a:hover {
  color: #2294ed;
}

.container {
  width: min(100% - 32px, 1186px);
  margin-inline: auto;
}

.last_section {
  background-color: #b9cde4;
}
.last_section .instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 15px;
}
.last_section .instruction h4 {
  font-weight: 400;
}
.last_section .instruction .last_img {
  display: flex;
  gap: 20px;
  align-items: center;
}
.last_section .instruction .last_img .img {
  width: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #183b56;
}/*# sourceMappingURL=style.css.map */