@import "./variiables";

.top-banner {
  background-color: #4fb3d4;
  // background-image: url();

  .banner-text {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 15px 30px;
  }
}
